body {
	background-color: #222222;
	font-family: Arial, sans-serif;
}

#wrapper {
	margin: 50px auto;
}

.row header {
	height: 50px;
}

.row header h2 {
	padding-left: 25px;
	line-height: 50px;
	font-size: 20px;
	color: #ffffff;
}

.wrapper {
	height: 50px;
	display: none;
	/*background-color: white;*/
	padding: 20px;
}

.row:nth-child(1) header {
	background-color: dodgerblue;
}

.row:nth-child(2) header {
	background-color: crimson;
}