html, body {
    height: 10%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
/*missing space after {}*/
h1 {font-family: Arial;
	color: black;
	text-align: center;
}
a { text-decoration: none;
	color: black;
	text-align: center;
	font-family: arial;
}
h3 {font-family: Arial;
	color: black;
	text-align: center;
	text-decoration: underline;
}