header {
	position: fixed;
	background-color: dodgerblue;
	width: 100%;
	font-size: 78px;
	color: white;
	transition: font-size 0.5s, background-color 3.5s ease;
}

header.sticky {
	background-color: darkred;
	font-size: 24px;

}